a {
  text-decoration: none;
  color: rgb(142, 142, 214);
}
a:hover,
a:focus {
  text-decoration: none;
}
ul, menu, dir {
  -webkit-margin-before: 0.5em;
}
p {
  -webkit-margin-after: 0.5em;
}
h1 {
  margin: 0;
}

/* LAYOUT CSS */
#layout {
  padding-left: 30%; /* "left col (nav + list)" width */
  position: relative;
}
.posts {
  padding-bottom: 1em;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  margin-left: -30%;
  background: rgb(24, 33, 61);
  color: #fff;
}

.header, .sidebar-details {
  margin: 20% 1.5em 0;
  text-align: right;
}
.sidebar-details, .social-container {
  margin: 5% 1.5em 0;
  text-align: right;
}

.social-container {
  #Bitbucket {
    img {
      width: 100px;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(142, 142, 214);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 3px solid rgb(103, 103, 180);
  color: #fff;
  margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 3px solid rgb(142, 142, 214);
  color: rgb(142, 142, 214);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 3em 0;
}

.post {
  padding-bottom: 0.5em;
}
.post-title {
  font-size: 1.3em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.5em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  padding-bottom : 5px;
  margin: 0;
  overflow: hidden;
  &.era {
    font-size: 75%;
  }
}

.post-category {
  display: block;
  margin: .5em 1em .1em .1em;
  padding: .3em 1em;
  color: #fff;
  background: #919191;
  font-size: 80%;
  float: left;
}
.post-category-html {
  background: #5aba59;
}
.post-category-css {
  background: #4d85d1;
}
.post-category-js {
  background: #e59539;
}
.post-category-back {
  background: #282828;
}
.post-category-ios {
  background: #8156a7;
}
.post-category-db {
  background: #6faedb;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  text-align: center;
  padding: 1em 0;
  a {
    color: #ccc;
    font-size: 80%;
  }
  .pure-menu a:hover, .pure-menu a:focus {
    background: none;
  }
}

@media (max-width: 830px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .header {
    text-align: center;
    top: auto;
    margin: 1em auto;
    position: static;
  }
  .sidebar-details {
 	  text-align: center;
    top: auto;
    margin: 1em auto;
    position: static;
  }
  .social-container {
    display: none;
  }

  #layout {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 1em 1em 0;
  }
}