<div class="posts">
  <h1 class="content-subhead">{{work.title}}</h1>

  {{#each work.experiences}}
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">{{title}}</h2>
      <p class="post-meta">
        {{company}}, {{city}}, {{country}} {{#if context}} - {{context}}{{/if}}
      </p>
      <p class="post-meta era">
        {{start}} - {{end}}
      </p>
      <p class="post-meta">
        {{#each tags}}
          <a href="#" class="post-category post-category-{{ref}}">{{name}}</a>
        {{/each}}
      </p>
    </header>

    <div class="post-description">
      {{#each description}}
        <p>
          {{text}}
          {{#if list}}
            <ul>
              {{#each list}}
                <li>
                  {{.}}
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </p>
      {{/each}}
    </div>
  </section>
  {{/each}}
</div>

<div class="posts">
  <h1 class="content-subhead">{{education.title}}</h1>

  {{#each education.schools}}
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">{{title}}</h2>
      <p class="post-meta">
        {{context}} {{#if specialty}} - {{specialty}}{{/if}}
      </p>
    </header>

    <div class="post-description">
      {{#each description}}
      <p>
        {{text}}
      </p>
      {{/each}}
    </div>
  </section>
  {{/each}}
</div>

<div class="posts">
  <h1 class="content-subhead">{{extra.title}}</h1>

  {{#each extra.items}}
  <section class="post compact {{print}}">
    <header class="post-header">
      <h2 class="post-title">{{title}}</h2>
    </header>

    <div class="post-description">
      {{text}}
      <ul>
        {{#each list}}
        <li>
          {{{.}}}
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
  {{/each}}
</div>